.contenedor{
	border: solid black;
	height: 267px;
	width: 267px;
}



.div1{
	
	height: 83px;
	width: 83px;
	border: solid black;
	float: left;

}


.div1o{
	background: green;
	height: 83px;
	width: 83px;
	border: solid black;
	float: left;

}


.div1x{
	background: red;
	height: 83px;
	width: 83px;
	border: solid black;
	float: left;

}




